<div class="container p-4 my-4">
    <div class="mb-3 text-center">
        <h3>Ask your queries to our experts</h3>
    </div>
    <div class="mb-3 mx-3">
        <label for="exampleFormControlInput1" class="form-label">UserId</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="userId">
    </div>
    <div class="mb-3 mx-3">
        <label for="exampleFormControlTextarea1" class="form-label">Query</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</div>